<div>
    <p-toolbar>
        <div>
            <button (click)="onClickSubmit()" label="Save" pButton pRipple type="button"></button>
        </div>
        <div>
            <button (click)="onClickBack()" pButton pRipple type="button"></button>
        </div>
    </p-toolbar>
    <div>
        <form [formGroup]="form" novalidate>
            <div header="Add a client">
                <div>
                    <div>
                        <label>First Name</label>
                        <input formControlName="firstName" type="text" pInputText>
                    </div>
                    <div>
                        <label>Last Name</label>
                        <input formControlName="lastName" type="text" pInputText>
                    </div>
                    <div>
                        <label>Phone Number</label>
                        <input formControlName="phoneNumber" type="text" pInputText>
                    </div>
                    <div>
                        <label>Birth Date</label>
                        <input formControlName="birthDate | date: dd/MM/yy"  pInputText>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
